include         /usr/local/etc/openldap/schema/core.schema
include         /usr/local/etc/openldap/schema/cosine.schema
include         /usr/local/etc/openldap/schema/inetorgperson.schema
include         /usr/local/etc/openldap/schema/jabberd.schema
include         /usr/local/etc/openldap/schema/nis.schema
include         /usr/local/etc/openldap/schema/postfix.schema
include         /usr/local/etc/openldap/schema/dnszone.schema
include         /usr/local/etc/openldap/schema/automount.schema

pidfile         /var/run/openldap/slapd.pid
argsfile        /var/run/openldap/slapd.args

modulepath      /usr/local/libexec/openldap
moduleload      back_bdb

database        bdb
suffix          "dc=metricspace,dc=net"
directory       /var/db/openldap-data

index           objectClass             eq
index           uid                     eq
index           memberUid               eq
index           mail                    eq
index           uidNumber               eq
index           gidNumber               eq
index           jid                     eq
index           cn                      eq
index           member                  eq
index           automountKey            eq
index           automountMapName        eq

TLSVerifyClient         try
TLSCertificateFile      /etc/ssl/certs/ldap-cert.pem
TLSCertificateKeyFile   /etc/ssl/private/ldap-key.pem
TLSCACertificateFile    /etc/ssl/certs/ca-cert.pem

include /usr/local/etc/openldap/slapd.access
authz-policy from
authz-regexp "uid=admin/admin,cn=metricspace.net,cn=gssapi,cn=auth" "cn=admin,dc=metricspace,dc=net"
authz-regexp "uid=admin/admin,cn=metricspace.net,cn=gss-spnego,cn=auth" "cn=admin,dc=metricspace,dc=net"
authz-regexp "uid=host/([^,]+).metricspace.net,cn=metricspace.net,cn=gssapi,cn=auth" "cn=$1.metricspace.net,ou=hosts,dc=metricspace,dc=net"
authz-regexp "uid=host/([^,]+).metricspace.net,cn=metricspace.net,cn=gss-spnego,cn=auth" "cn=$1.metricspace.net,ou=hosts,dc=metricspace,dc=net"
authz-regexp "uid=([^/,]+)/([^/\.,]+).metricspace.net,cn=metricspace.net,cn=gssapi,cn=auth" "cn=$1,cn=$2.metricspace.net,ou=hosts,dc=metricspace,dc=net"
authz-regexp "uid=([^/,]+)/([^/\.,]+).metricspace.net,cn=metricspace.net,cn=gss-spnego,cn=auth" "cn=$1,cn=$2.metricspace.net,ou=hosts,dc=metricspace,dc=net"
authz-regexp "uid=([^/.,]+),cn=metricspace.net,cn=gssapi,cn=auth" "cn=$1,ou=people,dc=metricspace,dc=net"
authz-regexp "uid=([^/.,]+),cn=metricspace.net,cn=gss-spnego,cn=auth" "cn=$1,ou=people,dc=metricspace,dc=net"
authz-regexp "cn=([^/\.]+).metricspace.net,ou=hosts,o=metricspace.net,st=massachusetts,c=us" "cn=$1.metricspace.net,ou=hosts,dc=metricspace,dc=net"

sasl-host ldap.metricspace.net
sasl-realm METRICSPACE.NET
sasl-secprops   noplain,noanonymous
