[%CFEngine BEGIN %]
Host *
  Protocol 2
  Compression yes
  Ciphers $(ssh_config.ciphers)
  MACs $(ssh_config.macs)
  HostKeyAlgorithms $(ssh_config.hostkey)
  KexAlgorithms $(ssh_config.kex)
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
[%CFEngine END %]
