Protocol 2
Compression yes
Ciphers $(ssh_config.ciphers)
MACs $(ssh_config.macs)
KexAlgorithms $(ssh_config.kex)
ServerKeyBits 8192

PasswordAuthentication no
PermitEmptyPasswords no
KerberosAuthentication yes
KerberosTicketCleanup yes
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
